#content_browser {
	position: relative;
}
/* Left Section */
#content_browser_left {
	position: absolute;
	top: 0px;
	left: 0px;
    background-color: #ddd;
    padding: 10px;
    width: 300px;
}
#content_browser_left select {
    width: 300px;
    margin-top: 5px;
}
#content_browser_left option {
    padding: 2px;
}
#content_browser_left optgroup {
    text-indent: 2px;
}
#content_browser_left optgroup option {
    text-indent: 10px;
}
#content_browser_left .browser_group {
	border-top: 1px solid #aaa;
	padding-top: 10px;
}
#content_browser_left .browser_group:first-child {
	border: none;
	padding-top: 0px;
}
#content_browser_left .browser_option {
    margin-bottom: 10px;
}
#content_browser_left #browser_filter {
    width: 275px;
}
#content_browser_left #add_filter_button {
    height: 21px;
    width: 21px;
    font-weight: bold;
}
#content_browser_left #browser_filters {
    border: 1px solid #aaa;
    padding: 5px;
}
#content_browser_left .filter input {
    margin-top: 5px;
    width: 255px;
}
#content_browser_left .filter button {
    background-color: #d66;
    border-color: #d22;
}

/* Right Section */
#content_browser_right {
	margin: 0px 10px 10px 330px;
	padding-top: 10px;
	overflow-x: scroll;
}
#content_browser_right th,
#content_browser_right td {
	padding: 5px 10px;
	border: 1px solid #aaa;
}
#content_browser_right th {
	color: #fff;
	background: #999;
	background: linear-gradient(to bottom, rgba(100,100,100,1) 0%,rgba(150,150,150,1) 100%);
	text-align: left;
}
#content_browser_right td {
	white-space: nowrap;
}
#content_browser_right tr:nth-child(even) {
	background-color: #fff;
}
#content_browser_right td.empty {
    background-color: #ccc;
    color: #666;
}

#content_browser_right .expander {
    background-color: #ddd;
    border: 1px solid #999;
    height: 9px;
    line-height: 6px;
    text-align: center;
    width: 16px;
    cursor: pointer;
}
#content_browser_right .expander.inline {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: -1px;
}