#content_browser {
    position: relative;
}
/* Left Section */
#content_browser_left {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ddd;
    padding: 10px;
    width: 300px;
}
#content_browser_left label {
    display: block;
}
#content_browser_left select {
    width: 300px;
    margin-top: 5px;
}
#content_browser_left option {
    padding: 2px;
}
#content_browser_left optgroup {
    text-indent: 2px;
}
#content_browser_left optgroup option {
    text-indent: 10px;
}
#content_browser_left .browser_group {
    border-top: 1px solid #aaa;
    padding-top: 10px;
}
#content_browser_left .browser_group:first-child {
    border: none;
    padding-top: 0px;
}
#content_browser_left .browser_option {
    margin-bottom: 10px;
}
#content_browser_left #browser_filter {
    width: 260px;
    margin-top: 5px;
    padding: 2px;
    border: 1px solid #aaa;
}
#content_browser_left .tt-hint {
    margin-top: 5px;
    color: #aaa;
    width: 260px;
}

#content_browser_left .tt-suggestion {
    background-color: #cde;
    border: 1px solid #9bd;
    padding: 2px;
    width: 260px;
    border-top: none;
    cursor: pointer;
}
#content_browser_left .tt-suggestion:hover,
#content_browser_left .tt-suggestion.tt-cursor {
    background-color: #9bd;
}

#content_browser_left #add_filter_button {
    height: 18px;
    width: 18px;
    padding: 0;
    position: relative;
    top: 8px;
}
#content_browser_left #browser_filters {
    border: 1px solid #aaa;
    padding: 5px;
}
#content_browser_left .filter input {
    margin-top: 5px;
    width: 255px;
    border: 1px solid #aaa;
    padding: 2px;
}
#content_browser_left .filter button {
    background-color: #d66;
    border-color: #d22;
    height: 18px;
    width: 18px;
    padding: 0;
}

/* Right Section */
#browser_results_nav {
    display: none;
    margin-bottom: 9px;
}
#browser_results_nav .buttons {
    float: right;
}
#browser_results_nav button {
    font-size: 10px;
}
#browser_results_info {
    color: #666;
}
#browser_results {
    display: none;
}
#content_browser_right {
    margin: 0px 10px 10px 330px;
    padding-top: 10px;
}
#content_browser_right_inner {
    overflow-x: scroll;
}
#content_browser_right_inner th,
#content_browser_right_inner td {
    padding: 5px 10px;
    border: 1px solid #aaa;
}
#content_browser_right_inner th {
    color: #fff;
    background: #999;
    background: linear-gradient(to bottom, rgba(100,100,100,1) 0%,rgba(150,150,150,1) 100%);
    text-align: left;
    white-space: nowrap;
}
#content_browser_right_inner th.sortable {
    cursor: pointer;
}
#content_browser_right_inner th.sortable.asc::after {
    content: " \25b2";
}
#content_browser_right_inner th.sortable.desc::after {
    content: " \25bc";
}
#content_browser_right_inner td {
    white-space: nowrap;
}
#content_browser_right_inner tr:nth-child(even) {
    background-color: #fff;
}
#content_browser_right_inner td.empty {
    background-color: #ccc;
    color: #666;
}

#content_browser_right_inner .expander {
    background-color: #ddd;
    border: 1px solid #999;
    height: 9px;
    line-height: 6px;
    text-align: center;
    width: 16px;
    cursor: pointer;
}
#content_browser_right_inner .expander.inline {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: -1px;
}

#browser_popup {
    display: none;
    background: #232323;
    padding: 10px;
    width: 600px;
    position: fixed;
    top: 15%;
    left: 50%;
    margin: 0 0 0 -310px;
    box-shadow: 0 0 5px rgba(0,0,0,0.9);
    color: #eee;
}
#browser_popup_close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 8px;
}
#browser_popup_content {
    margin-top: 20px;
    max-height: 600px;
    overflow: auto;
}
#browser_popup_content pre {
    background-color: #666;
    margin: 0;
    padding: 5px;
    white-space: pre-wrap;
}
