#content_log_messages {
    padding: 10px;
}
#content_log_messages > div {
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;
    padding: 5px;
}
#content_log_messages > div:first-child {
    border-top: 1px solid #999;
}
#content_log_messages > div.error {
    background-color: #fcc;
    color: #f44;
    font-weight: bold;
}
#content_log_messages > div.debug {
    background-color: #ccf;
    color: #44f;
}
#content_log_messages > div.warn {
    background-color: #fdb;
    color: #f84;
    font-weight: bold;
}
#content_log_messages .timestamp {
    font-weight: normal;
    color: #666;
}

#content_log_messages .expander {
    background-color: #ddd;
    border: 1px solid #999;
    height: 9px;
    line-height: 6px;
    text-align: center;
    width: 16px;
    cursor: pointer;
}
#content_log_messages .expander.inline {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: -1px;
}
#content_log_messages .request_data {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #000;
    background-color: #333;
    color: #fff;
    display: none;
}
